---
name: Build and Push Image to Google Cloud Platform
on:
    push:
        branches: [ main ]
jobs:
    build-push-gcr:
        name: Build and Push to GCP
        runs-on: ubuntu-latest
        env:
            IMAGE_NAME: funny-converter
            PROJECT_ID: funny-converter
            LOCATION: us-central1-docker.pkg.dev
            REPOSITORY: funny-converter-ar
            SHORT_SHA: ${GITHUB_SHA::8}
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - uses: google-github-actions/setup-gcloud@v0
              with:
                  service_account_key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
                  project_id: ${{ env.PROJECT_ID }}
                  export_default_credentials: true
            - name: Build Docker Image
              run: docker build -t $IMAGE_NAME:latest .
            - name: Configure Docker Client
              run: |-
                  gcloud auth configure-docker $LOCATION --quiet
            - name: Push Docker Image to Artifact Registry
              run: |-
                  docker tag $IMAGE_NAME:latest $LOCATION/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:latest
                  docker tag $IMAGE_NAME:latest $LOCATION/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:$SHORT_SHA
                  docker push $LOCATION/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:latest
                  docker push $LOCATION/$PROJECT_ID/$REPOSITORY/$IMAGE_NAME:$GIT_TAG